<!doctype html>
<head>
    <title> edit and update page</title>
</head>
<center>
<body>
<h1> edit and update student details</h1>
<h2> the student id  is {{crud_student.id}}

<hr/>
<form method = "POST" action = "/update/{{crud_student.id}}">
    {% csrf_token %}
<table border = "1">
    <tr>
        <td> student name </td>
        <td><input type = "text" name = "name" value = "{{crud_student.name}}"></td>
    </tr>
    <tr>
        <td> student email </td>
        <td><input type = "text" name = "email" value = "{{crud_student.email}}"></td>
    </tr>
    <tr>
        <td> student address </td>
        <td><input type =  "text" name = "address" value = "{{crud_student.address}}"></td>
    </tr>
    <tr>
        <td> student mobile_no </td>
        <td><input type = "text" name = "mobile_no" value = "{{crud_student.mobile_no}}"></td>
    </tr>
    <tr>
        <td> student gender </td>
        <td><input type = "text" name = "gender" value = "{{crud_student.gender}}"></td>
    </tr>
</table>

<input type = "submit" value = " update-student-record">
</form>
<a href =  "{% url 'stdisplay'%}"> HOME PAGE </a>
<hr/>
{% if messages %}
{% for result in messages %}
{{result}}
{% endfor %}
{% endif %}
</center>
</body>
</html>